<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" [hidden]="user.username === 'admin'">
        <a [routerLink]="['/user']" [queryParams]="{id: user.id}">
            <td>{{user.id}}</td>
        </a>
        <td>{{user.username}}</td>
        <td>{{user.address}}</td>
        <td>{{user.email}}</td>
        <td><button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">X</button></td>
      </tr>
    </tbody>
  </table>