<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4">
						<h2><b>Dettaglio Ordini</b></h2>
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ristorante</th>
						<th>Indirizzo Spedizione</th>
						<th>Data Ordine</th>						
                        <th>Status</th>						
						<th>Totale</th>
						<th>Piatti</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of userOrders; let i = index">
                        <td>{{i+1}}</td>
                        <ng-container *ngFor="let rest of restaurant">
                            <td *ngIf="rest.id == order.restaurantId">{{rest.name}}</td>
                        </ng-container>
						<td>{{order.shippingAddress}}</td>
                        <td>{{order.date}}</td>                        
                        <td *ngIf="order.statusOrder === true" >
                            <span [ngClass]="{'text-success' : order.statusOrder === true}"
                                class="status">&bull;
                            </span>Confermato
                        </td>
                        <td *ngIf="order.statusOrder === false" >
                            <span [ngClass]="{'text-danger' : order.statusOrder === false}"
                                class="status">&bull;
                            </span>In attesa 
                        </td>
						<td>{{order.totalAmount}} €</td>
                        <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a></td>
                     </tr>
                </tbody>
            </table>
        </div>
    </div>     