<div class="container">
	<div class="row">
        <div class="col-3">
            <app-filter-restaurants></app-filter-restaurants>
        </div>
		<div class="col-9">
            <ul class="list-group  ">
                <li class="list-group-item mb-4 shadow" *ngFor = 'let restaurant of restaurants | filter : filterService.getSearchTerm()' >
                    <app-restaurants-list 
                        [restaurant]="restaurant">
                    </app-restaurants-list>
                </li>
            </ul>
		</div>
	</div>
</div>
