<div class="cd-filter shadow">
    <div class="cd-filter-block">
        <div class="filter-wrap">
            <input [(ngModel)]="filterService.searchText" placeholder="Filtra..." class="filter-input" (keyup)="filterService.setSearchTerm(filterService.searchText)">
        </div>
        <div class="selected-games-wrap">
            <div class="selected-game" *ngFor="let s of filterService.getSelectedTypology()" >
            </div>
        </div>
        <h4 class="ml-3">Categorie</h4>
        <ul class="cd-filter-content cd-filters list">
            <li *ngFor="let type of filterService.getTypology() | filter : filterService.getSearchTerm()">
                <input (change)= "filterService.getSelectedTypology()"  
                        type="checkbox" 
                        name="typology"
                        value="{{type.id}}"
                        [(ngModel)]= "type.selected">
                <span class="checkbox-label">{{type.name}}</span>
            </li>
        </ul> <!-- cd-filter-content -->
    </div> <!-- cd-filter-block -->            
        <div class="cd-filter-block">
            <h4 class="ml-3">Scegli un rating</h4>
            <ul class="cd-filter-content cd-filters list">
                    <label class="p-1 mt-2 d-flex align-items-center">
                            <input checked type="checkbox" />
                            <span class="ml-2">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </span>
                        </label>
                        <label class="p-1 mt-2 d-flex align-items-center">
                            <input checked type="checkbox" />
                            <span class="ml-2">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                            </span>
                        </label>
                        <label class="p-1 mt-2 d-flex align-items-center">
                            <input checked type="checkbox" />
                            <span class="ml-2">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                            </span>
                        </label>
                        <label class="p-1 mt-2 d-flex align-items-center">
                            <input type="checkbox" />
                            <span class="ml-2">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                            </span>
                        </label>
                        <label class="p-1 mt-2 d-flex align-items-center">
                            <input type="checkbox" />
                            <span class="ml-2">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                            </span>
                        </label>
            </ul> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->
        <!-- Selected Typology-->
</div> <!-- cd-filter -->