<div class="cd-filter shadow">
    <form>
        <div class="cd-filter-block">
            <h4 class="ml-3">Categorie</h4>
            <ul class="cd-filter-content cd-filters list">
                <li>
                    <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                    <label class="checkbox-label" for="checkbox1">Pizzeria</label>
                </li>
                <li>
                    <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                    <label class="checkbox-label" for="checkbox2">Ristorante</label>
                </li>
                <li>
                    <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                    <label class="checkbox-label" for="checkbox3">Hamburgeria</label>
                </li>
                            <li>
                    <input class="filter" data-filter=".check3" type="checkbox" id="checkbox4">
                    <label class="checkbox-label" for="checkbox3">Panineria</label>
                </li>
                            <li>
                    <input class="filter" data-filter=".check3" type="checkbox" id="checkbox5">
                    <label class="checkbox-label" for="checkbox3">Sushi</label>
                </li>
                            <li>
                    <input class="filter" data-filter=".check3" type="checkbox" id="checkbox6">
                    <label class="checkbox-label" for="checkbox3">Kebab</label>
                </li>
                            <li>
                    <input class="filter" data-filter=".check3" type="checkbox" id="checkbox7">
                    <label class="checkbox-label" for="checkbox3">Toasteria</label>
                </li>
            </ul> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->            
        <div class="cd-filter-block">
            <h4 class="ml-3">Scegli un rating</h4>
            <ul class="cd-filter-content cd-filters list">
                <li>
                    <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
                    <label class="radio-label" for="radio1">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                    </label>
                </li>
                <li>
                    <input class="filter" data-filter=".radio2" type="radio" name="radioButton" id="radio2">
                    <label class="radio-label" for="radio2">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                    </label>
                </li>
                <li>
                    <input class="filter" data-filter=".radio3" type="radio" name="radioButton" id="radio3">
                    <label class="radio-label" for="radio3">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                    </label>
                </li>
                <li>
                    <input class="filter" data-filter=".radio4" type="radio" name="radioButton" id="radio4">
                    <label class="radio-label" for="radio4" >
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                    </label>
                </li>
                <li>
                    <input class="filter" data-filter=".radio5" type="radio" name="radioButton" id="radio5">
                    <label class="radio-label" for="radio4" >
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                    </label>
                </li>
            </ul> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->
    </form>
</div> <!-- cd-filter -->